#root {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.transition {
  max-height: 400px;
  overflow: scroll;
}

.square {
  position: absolute;
  top: 10px;
  width: 15px;
  height: 15px;
  animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    background-color: red;
  }
  
  100% {
    background-color: blue;
  }
}